<div class="container">
  <% @articles.each do |article| %>
    <div class="row justify-content-md-center">
      <div class="col-7 mt-4">
        <div class="card">
          <div class="card-header">
            <%= article.title %>
          </div>
          <div class="card-body">
            <h6 class="card-title ">by <%= article.user.username%></h6>
            <p class="card-text"><%= truncate(article.description,length:100) %></p>
            <div class="btn-container">
              <%= link_to 'Show', article_path(article), class:"btn btn-primary" %>
              <%= link_to 'Edit', edit_article_path(article), class:"btn btn-secondary" %>
              <%= link_to 'Delete', article_path(article), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-success" %>
            </div>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(article.created_at)%> ago, edited <%= time_ago_in_words(article.updated_at)%> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>