<h1 class="articles-title">Showing article details</h1>

<div class="row justify-content-md-center">
  <div class="col-7 mt-4">
    <div class="card">
      <div class="card-header">
        <%= @article.title %>
      </div>
      <div class="card-body">
        <h6 class="card-title ">by <%= link_to @article.user.username, user_path(@article.user) %></h6>
        <p class="card-text"><%=  @article.description %></p>
        <div class="btn-container">
          <%= link_to 'Back to Articles', articles_path, class:"btn btn-primary" %>
          <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-secondary" %>
          <%= button_to 'Delete', article_path(@article), method: :delete, "data-turbo": false, :onclick => "return confirm('Are you sure?')", class:"btn btn-success" %>
        </div>
      </div>
      <div class="card-footer text-muted">
        <small>Created <%= time_ago_in_words(@article.created_at)%> ago, edited <%= time_ago_in_words(@article.updated_at)%> ago</small>
      </div>
    </div>
  </div>
</div>