<h1 class= "articles-title"><%= @user.username %>'s Profile</h1>

<%= gravatar_for @user, size:200 %>

<% if logged_in? && @user == current_user %>
  <div class="btn-container text-center mt-4">
    <%= link_to 'Create new article', new_article_path, class:"btn btn-dark" %>
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-secondary" %>
    <%= button_to "Delete Profile", user_path(current_user), method: :delete, "data-turbo": false, :onclick => "return confirm('Are you sure?')", class: "btn btn-danger" %>
  </div>
<% end %>

<h3 class= "text-center mt-4">Articles</h3>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class="flickr_pagination pagination_bottom">
  <%= will_paginate @articles, :container => false %>
</div>